<div class="container">
  <p class="h1">products-view works!</p>
  <p>
    <ngb-alert [type]="type">Mesaj alerta</ngb-alert>
    <fa-icon [icon]="faCoffee"></fa-icon>
  </p>
</div>
<app-product-categories class="float-left adjust-categories-position" [productCategories]="productCategories"></app-product-categories>

  <div class="container">
  <div class="row justify-content-md-around">
    <div *ngFor="let product of allProducts">
      <app-product class="col-sm-6"
                   [id]="product.stockItemId"
                   [name]="product.stockItemName"
                   [price]="product.unitPrice"
                   [inStock]="product.soldOut"></app-product>
    </div>
  </div>
</div>

