<app-product-categories class="float-left adjust-categories-position"
                        [productCategories]="productCategories"
                        (changeCategory)="loadData($event)"></app-product-categories>

  <div class="container">
    <ngb-pagination [collectionSize]="totalElements"
                    [pageSize]="itemsPerPage"
                    [(page)]="page"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)"></ngb-pagination>
    <div class="d-flex justify-content-between">
      <div class="mt-1">
        <label for="sort" class="pr-2">Sort by price</label>
        <select id="sort" class="custom-select" style="width: auto" (change)="sortDropDownChange($event)">
          <option [value]=""></option>
          <option [value]="'ASC'">ASC</option>
          <option [value]="'DESC'">DESC</option>
        </select>
      </div>
      <div class="">
        <label for="itemsPerPage" class="pr-2">Per page</label>
        <select id="itemsPerPage" class="custom-select" style="width: auto" (change)="itemsDropDownChange($event)">
          <option [value]="9">9</option>
          <option [value]="18" [selected]="true">18</option>
          <option [value]="30">30</option>
        </select>
      </div>
    </div>

  <div class="row justify-content-md-around">
    <div *ngFor="let product of allProducts">
      <app-product class="col-sm-6"
                   [id]="product.stockItemId"
                   [name]="product.stockItemName"
                   [price]="product.unitPrice"
                   [inStock]="product.soldOut"></app-product>
    </div>
  </div>
</div>

