<div class="container-fluid">
  <div class="row m-0">
    <div class="col-12 d-flex justify-content-center">
      <div class="card col-lg-6 col-md-8 col-sm-10 col-xs-12 bg-white p-3">
        <div class="card-content">
          <h4 class="card-title mb-2">Reset form</h4>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password">New password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group">
              <label for="reenteredPassword">Reenter password</label>
              <input type="password" class="form-control" id="reenteredPassword" placeholder="Repeat Password" formControlName="reenteredPassword">
              <label class="text-danger" *ngIf="resetPasswordForm.touched && resetPasswordForm.errors?.NoPasswordMatch">
                Password doesn't match
              </label>
              <br/>
              <label class="text-danger" *ngIf="password.touched && password.hasError('minlength')">
                Must contain at least 6 characters
              </label>
            </div>
            <div class="form-actions center">
              <button type="submit" class="btn btn-raised btn-primary" [disabled]="!resetPasswordForm.valid">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
