<div class="container">
  <p class="h1">products-list works!</p>
  <p>
    <ngb-alert [type]="type">Mesaj alerta</ngb-alert>
    <fa-icon [icon]="faCoffee"></fa-icon>
  </p>
  <div class="row justify-content-md-around">
    <div *ngFor="let product of allProducts">
      <app-product class="col-sm-4"
                   [id]="product.stockItemId"
                   [name]="product.stockItemName"
                   [price]="product.unitPrice"
                   [inStock]="product.soldOut"></app-product>
    </div>
  </div>

</div>

