<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form form-horizontal">
    <div class="row">
      <div class="form-group col-4">
        <input type="text" class="form-control" placeholder="Order ID" formControlName="id">
        <label class="text-danger" *ngIf="id.touched && id.hasError('required')">Error</label>
        <label class="text-danger" *ngIf="id.hasError('pattern')">Only numbers</label>
      </div>
      <button type="submit" class="btn btn-primary col-2" style="height: 38px;" [disabled]="!searchForm.valid">
        Search
      </button>
    </div>
  </form>
  <div class="row">
    <div class="col-10">
      <table class="table table-hover bg-white">
        <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col" class="px-0">Value</th>
          <th scope="col">Products No.</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody *ngIf="displayList">
        <tr *ngFor="let order of dispatchedOrders;">
          <td>#{{order.orderId}}</td>
          <td class="">{{order.orderDate | date: 'yyyy MMM dd HH:mm'}}</td>
          <td>${{order.orderValue}}</td>
          <td>{{order.orderLines.length}}</td>
          <td>{{order.status}}</td>
        </tr>
        </tbody>
        <tbody *ngIf="!displayList">
        <tr>
          <td>#{{dispatchedOrderOfId.orderId}}</td>
          <td class="">{{dispatchedOrderOfId.orderDate | date: 'yyyy MMM dd HH:mm'}}</td>
          <td>${{dispatchedOrderOfId.orderValue}}</td>
          <td>{{dispatchedOrderOfId.orderLines.length}}</td>
          <td>{{dispatchedOrderOfId.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="displayList" class="col">
      <label for="itemsPerPage" class="pr-2">Per page</label>
      <select id="itemsPerPage" class="custom-select" style="width: auto" (change)="itemsDropDownChange($event)">
        <option [value]="50">50</option>
        <option [value]="100">100</option>
        <option [value]="150">150</option>
      </select>
    </div>

  </div>
  <div *ngIf="displayList" class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="totalElements"
                      [pageSize]="itemsPerPage"
                      [(page)]="page"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
