<nav class="navbar navbar-dark navbar-expand-md portfolio-navbar gradient mb-3 pb-0">
  <a class="navbar-brand" href="#">WWi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="'active'">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item w-max-content">
        <a class="nav-link" [routerLink]="['/shopping-cart/step-1']" [routerLinkActive]="'active'">Shopping cart</a>
      </li>
      <li *ngIf="userService.isUserClient()" class="nav-item w-max-content">
        <a class="nav-link" [routerLink]="['/client/orders']" [routerLinkActive]="'active'">My orders</a>
      </li>
      <li *ngIf="userService.isUserClient()" class="nav-item w-max-content">
        <a class="nav-link" [routerLink]="['/client/account']" [routerLinkActive]="'active'">Account</a>
      </li>
      <li *ngIf="userService.isUserAdmin()" class="nav-item w-max-content">
        <a class="nav-link" [routerLink]="['/admin/dispatched-orders']" [routerLinkActive]="'active'">Dispatched orders</a>
      </li>
      <li *ngIf="userService.isUserAdmin()" class="nav-item w-max-content">
        <a class="nav-link" [routerLink]="['/admin/active-orders']" [routerLinkActive]="'active'">Active orders</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <div class="nav-item mr-2 mt-1 pb-6" [style.cursor]="'pointer'" (mouseenter)="switchCartPreview(this.cartHover)"
          (mouseleave)="switchCartPreview(this.cartHover)" style="padding-bottom: 19px;">
        <fa-icon [icon]="faShoppingCart" size="md"></fa-icon>
      </div>
      <li class="nav-item mr-2" *ngIf="!userService.isUserLoggedIn()">
        <button class="btn btn-sm btn-outline-primary navbar-text text-white" (click)="login()" style="width: 70px;">
          Login
        </button>
      </li>
      <li class="nav-item" *ngIf="!userService.isUserLoggedIn()">
        <button class="btn btn-sm btn-outline-primary navbar-text text-white" [routerLink]="['/auth/register']" style="width: 80px;">
          Register
        </button>
      </li>
      <li class="nav-item" *ngIf="userService.isUserLoggedIn()">
        <button class="btn btn-sm btn-outline-primary navbar-text text-white" (click)="logout()" style="width: 70px;">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>

<app-cart-hover [display]="this.cartHover" (mouseenter)="switchCartPreview(false)"
                (mouseleave)="switchCartPreview(true)"></app-cart-hover>
