<div class="card border-info" style="width: 18rem;">
  <div class="card-header bg-transparent border-info h4">{{ (name.length>36)? (name | slice:0:36)+'...':(name) }}</div>
  <img class="card-img-top" [src]="'assets/img/imageui.png'" [alt]="'placeholder'">
  <div class="card-body">
    <p class="card-text">Ceva text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, unde.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{price}}</li>
    <li class="list-group-item">{{inStock ? 'not available' : 'in stock'}}</li>
  </ul>
  <div class="card-footer bg-white d-flex justify-content-center border-top-0">
    <button *ngIf="!userService.isUserAdmin()" class="btn w-75 text-center text-light gradient" (click)="addButtonClicked()" [disabled]="inStock">Add <fa-icon [icon]="faShoppingCart" size="sm"></fa-icon></button>
    <button *ngIf="userService.isUserAdmin()" class="btn w-75 text-center text-light gradient" routerLink="/admin/product/{{id}}">Edit</button>
  </div>
</div>
