<div class="card border-info" style="width: 18rem;">
  <div class="card-header bg-transparent border-info h4">{{ (name.length>36)? (name | slice:0:36)+'...':(name) }}</div>
  <img class="card-img-top" src="http://placehold.jp/286x180.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Ceva text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, unde.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{price}}</li>
    <li class="list-group-item">{{inStock ? 'not available' : 'in stock'}}</li>
  </ul>
  <div class="card-footer bg-white d-flex justify-content-center border-top-0">
    <button class="btn w-75 text-center text-light gradient" (click)="addButtonClicked()" [disabled]="inStock">Add <fa-icon [icon]="faShoppingCart" size="sm"></fa-icon></button>
  </div>
</div>
