<div class="card bg-info" style="max-width: 18rem;">
  <div class="card-header h5">
    Categories
  </div>
  <ul class="list-group list-group-flush" (click)="clickHandler($event)">
    <li class="list-group-item dropdown-item">Novelty Items</li>
    <li class="list-group-item dropdown-item">Clothing</li>
    <li class="list-group-item dropdown-item">Mugs</li>
    <li class="list-group-item dropdown-item">T-Shirts</li>
    <li class="list-group-item dropdown-item">Airline Novelties</li>
    <li class="list-group-item dropdown-item">Computing Novelties</li>
    <li class="list-group-item dropdown-item">USB Novelties</li>
    <li class="list-group-item dropdown-item">Furry Footwear</li>
    <li class="list-group-item dropdown-item">Toys</li>
  </ul>
</div>
